################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpArt/obj
/OpArt/bin/Debug/netcoreapp3.1
